<!DOCTYPE html>
<html>
    <head>
        <title>ACCLIVITY</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Home Page</a></h1>
        </header>

        <article>
            <time>published: 02.02.2022, 12:14</time>
            <h2><a href="">ABOUT</a></h2>
            <p>Acclivity is an app that focuses on naturing the saving cukture in school going children.</p>
        </article>

        <article>
            <time>published: 02.02.2022, 12:14</time>
            <h2><a href="">HOW TO USE</a></h2>
            <p>Just create an account with your email and parent's NIN.</p>
        <table>
            <thead>
                <tr>
                    <th colspan="4">
                        ACCLIVITY
                    </th>
                </tr>
            </thead>
        </table>
        </article>
    </body>
</html>